{{template "base" .}} 

{{define "title"}}Posts of {{.Category.CategoryName}}{{end}} 

{{define "main"}} 

<!-- Category filter -->
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Filter by Category</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Categories:</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

  
    <div class="d-grid gap-2">  
      {{range .Categories}}
      <a href="/category?category={{.CategoryName}}" type="button" class="btn btn-light">
        {{.CategoryName}}
      </a>
      {{end}}
    </div>  
  
  
  </div>
</div>

<h2>{{.Category.CategoryName}} Posts</h2>

{{if .Posts}} 
{{range .Posts}} 
<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ124yi5yS06QmpyvRNRu4I3ql1x124DXfJ7A&usqp=CAU"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{.Title}}</h5>
        <p class="card-text">{{.Content}}</p>

        <p class="card-text">
          <small class="text-muted">Author: {{.Username}}</small>
        </p>

        <a href="/post?id={{.PostID}}">{{.Title}}</a>

        <p class="card-text">Published: {{.Created}}</p>
        <div>
          {{.Votes.Likes}}
          <form action="/post/like?id={{.PostID}}" method="Post">  
            <input type="text" value="/" name="path" hidden>               
            <input type="submit" value="Like" />            
          </form>                             
        </div>
        <div>
          {{.Votes.Dislikes}}
          <form action="/post/dislike?id={{.PostID}}" method="Post">                 
            <input type="text" value="/" name="path" hidden> 
            <input type="submit" value="Dislike" />
          </form>          
        </div>
        
      </div>
    </div>
  </div>
</div>
{{end}}

{{else}}
<p>No {{.Category.CategoryName}} category posts.. for now!</p>
{{end}}

{{end}}